<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tag %>
    <link rel="stylesheet" type="text/css" href="<%= Trifle.config['mirador_base_url'] %>css/mirador-combined.css">
    <title>Mirador Viewer</title>
    <style type="text/css">
      body { padding: 0; margin: 0; overflow: hidden; font-size: 70%; }
      #viewer { background: #333; width: 100%; height: 100%; position: fixed; }
      .annotation-editor .tags-editor { display: none; }
      .mce-branding-powered-by { display: none; }
      .mirador-container .mce-edit-area iframe { height: 150px !important; }
      .qtip { max-width: 350px }
    </style>
  </head>
  <body>
    <div id="viewer"></div>
    <script src="<%= Trifle.config['mirador_base_url'] %>mirador.js"></script>
    <%= javascript_include_tag "trifle/trifleAnnotationEndpoint" %>
    <script src=""></script>
    <script type="text/javascript">
     function initMirador(manifest, image){
       // disable Bookmark panel excessively posting things to jsonBlob
       window.Mirador.BookmarkPanel.prototype.listenForActions = function() {};
       <% if @use_annotations %>
        // disables annotations in the manifest if we use an annotation endpoint
        window.Mirador.Manifest.prototype.getAnnotationsListUrls = function(canvasId) { return false; };
       <% end %>
       
       var options = {
         "id": "viewer",
         "saveSession": false,
         "mainMenuSettings": {
           "buttons": { "bookmark": false }
         },
         "buildPath": "<%= Trifle.config['mirador_base_url'] %>",
         "annotationEndpoint":{
           <% if @use_annotations %>
             "name": "Trifle",
             "module": "TrifleEndpoint",
             "options": {
               "trifleUrlBase": "<%= trifle.root_url %>",
               "trifleManifestId": "<%= @manifest.id %>"
             },
           <% end %>
         },
         <% if @use_toc %>
          "tocEndpoint": { 
            "name": "IIIF Toc Endpoint", 
            "module": "IIIFTocEndpoint", 
            "options": { "url": "<%= trifle.iiif_manifest_update_ranges_url(@manifest) %>", "addCsrf": true } 
          },
         <% end %>    
          "sidePanelOptions" : {
            "tocTabAvailable": true,
            "layersTabAvailable": true
          }
       };
       if(manifest){
         options["windowObjects"]=[{
           "loadedManifest": manifest
         }];
         if(image){
           options["windowObjects"][0]["canvasID"]=image;
           options["windowObjects"][0]["viewType"]="ImageView";
         }
       }
       else {
         options["openManifestsPage"]=true;
       }
       
       <% if !@manifest %>
         $.ajax({
           url: '<%= trifle.iiif_collection_iiif_url(@collection) + "?mirador=true" %>',
           dataType: 'json',
           success: function(data, status, xhr){
             options["data"] = data;
             Mirador(options);
           }
         });         
       <% else %>
        options["data"] = [{"manifestUri":"<%= trifle.iiif_manifest_iiif_url(@manifest).html_safe %>"}];
        Mirador(options);
       <% end %>
     }
     function windowLoaded(){
       if(typeof(miradorInitialized) != 'undefined' && miradorInitialized) return;
       mirador = initMirador(<%= @manifest ? "'#{trifle.iiif_manifest_iiif_url(@manifest)}'".html_safe : 'null' %>,
                   <%= @image ? "'#{trifle.iiif_image_iiif_url(@image)}'".html_safe : 'null' %>);
       miradorInitialized = true;
     }
     <% unless @no_auto_load %>
      $(function(){windowLoaded();});
     <% end %>
    </script>
  </body>
</html>
